/* @theme cl-theme */

@import 'gaia';



section {
  width: 1280px;
  height: 960px;
  font: 30px 'Montserrat', arial;
  padding: 40px;
  color: #000000;
  background-color: #FFFFFF;
}

h1 {
  font: 60px 'Montserrat', arial;
  color: #FFFFFF;
  background-color: #0071BA ;
  /* height: 100px;  */
  width: 100%;
  text-align: center;
  line-height: 10px;
  padding: 30px 0;
}

h2 {
  font: 40px 'Montserrat', arial;
}
